<form method=POST action='/'>
  <input type=text name=name>
  <br>
  <input type=text name=breed>
  <br>
  <input type=text name=age>
  <br>
  <button name="submit" type="submit" value="submit">
</form>
